## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_challenge3 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\carly\OneDrive\Desktop\data_bootcamp\analysis_projects\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Noormarkku,FI,41.00,clear sky,61.5927,21.8685,Ahlströmin Ruukki Noormarkku
1,8,Kyzyl-Suu,KG,39.09,overcast clouds,42.3414,78.0056,Gostinitsa Nur-Ordo
2,10,Nakhodka,RU,37.08,overcast clouds,42.8333,132.8947,Apartment on Pogranichnaya
3,12,Agapovka,RU,21.20,broken clouds,53.2973,59.1348,Gostinitsa Zhkkh
4,43,Hornepayne,CA,27.25,snow,49.2138,-84.7705,Jackfish River Inn

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Vestmannaeyjar") & (vacation_df["Hotel Name"] == "Glamping & Camping")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Vestmannaeyjar") & (vacation_df["Hotel Name"] == "Glamping & Camping")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Grindavik") & (vacation_df["Hotel Name"] == "Northern Light Inn & Max's Restaurant")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Olafsvik") & (vacation_df["Hotel Name"] == "Hotel Olafsvik")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Husavik") & (vacation_df["Hotel Name"] == "Bjarnabúð")]

In [13]:
vacation_start

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
38,250,Vestmannaeyjar,IS,36.73,overcast clouds,63.4427,-20.2734,Glamping & Camping

In [14]:
vacation_stop1

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
44,276,Grindavik,IS,30.2,sleet,63.8424,-22.4338,Northern Light Inn & Max's Restaurant

In [15]:
vacation_stop2

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
10,83,Olafsvik,IS,33.6,overcast clouds,64.8945,-23.7142,Hotel Olafsvik

In [16]:
vacation_stop3

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
39,251,Husavik,IS,35.6,broken clouds,66.0449,-17.3389,Bjarnabúð

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]
print(f'Starting Vacation at: {start}.\n Then make your first stop at: {stop1}.\n Followed by stop 2: {stop2}.\n Proceed to stop 3: {stop3}.\n Ending Vacation at: {end}')

Starting Vacation at: (63.4427, -20.2734).
 Then make your first stop at: (63.8424, -22.4338).
 Followed by stop 2: (64.8945, -23.7142).
 Proceed to stop 3: (66.0449, -17.3389).
 Ending Vacation at: (63.4427, -20.2734)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df
import dataframe_image as dfi
dfi.export(itinerary_df, "Itinerary_Summary.png")

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(marker_layer)
fig.add_layer(vacation_itinerary)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))